.footer__links {
  display: flex;
  flex-wrap: nowrap;
  gap: 18px;
}

@media screen and (max-width: 710px){
  .footer__links {
    flex-direction: column;
  }
}

@media screen and (max-width: 425px){
  .footer__links {
    gap: 32px;
  }
}
