.footer__copyright {
  color: #FFF;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}


@media screen and (max-width: 710px) {
  .footer__copyright {
    font-size: 9px;
    line-height: 11px;
  }
}

@media screen and (max-width: 425px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
  }
}
