.intro {
  max-width: 1184px;
  width: calc(100% - 296px);
  margin: 0 auto 92px;
}

@media screen and (max-width: 1024px){
  .intro {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px){
  .intro {
    width: calc(100% - 48px);
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 425px){
  .intro {
    width: calc(100% - 32px);
    margin-bottom: 64px;
  }
}

